* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --blue: #536dfe;
    --dark-blue: #2A3780;
    --header-height: 70px;
}

.header-container{
    width: 100%;
    background-color: white;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px 0;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 25px;
}

h1 {
    font-weight: normal;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 3px; 
    border-radius: 4px;
    border: solid white 1px;
    cursor: pointer;
    transition: all 0.3s;
}

nav ul li:hover {
    background-color:white;
    color: black;
    border: solid var(--blue) 1px;
}

.highlight {
    background-color: var(--blue); 
    color: white;
    border-radius: 4px;
    transition: all 0.3s;
    border: solid white 1px;
}

.highlight:hover {
    background-color:white;
    color: black;
    border: solid var(--blue) 1px;
}

nav ul li a {
    padding: 15px 8px;
}

.burger {
    display: none;
    cursor: pointer;
}

main {
    position: relative;
    top: var(--header-height);
} 

.home-container {
    background-color: var(--blue);
    width: 100%;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 75px 0px;
    color: white;
}

.home h1 {
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 20px;
    padding-left: 20px;
}

.home .buttons {
    position: relative;
    bottom: 0px;
}

.home img {
    width: 100%;
}

.project-container {
    max-width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 50px 0px;
    position: relative;
}

.project-container h2 {
    text-align: center;
    padding-bottom: 30px; 
    font-weight: normal;
    font-size: 32px;
}

.project {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    box-shadow: 2px 4px 3px 3px gray;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 40px;
}

.description {
    background-color: var(--blue);
    padding: 30px 20px 20px 30px;
    color: white;
    position: relative;
}

.description h3 {
    font-weight: bold;
    font-size: 30px;
}

.description p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.description ul {
    list-style-type: circle;
}

.description li {
    margin-top: 10px;
    margin-left: 30px;
}

.buttons {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
}

.button:link, .button:visited {
    color: white;
    text-decoration: none;
}

.button {
    height: 40px;
    width: 100px;
    border: white solid 1.5px;
    border-radius: 20px;
    text-align: center;
    line-height: 37px;
    margin: 10px;
    cursor: pointer;
}

#github-portfolio {
    width: 250px;
    background-color: var(--blue);
     position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.button:hover {
    opacity: 0.5;
    transition: all 0.25s ease;
}

.gif {
    line-height: 400px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.gif img {
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    padding: 10px;
}

.back {
    position: absolute;
    top: 140px;
    left: -80px;
    right: 0px;
    margin: 0 auto;
    z-index: 0;
    cursor: pointer;
}

.middle {
    position: absolute;
    top: 220px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 1;
    cursor: pointer;
}

.front {
    position: absolute;
    top: 300px;
    left: 80px;
    right: 0px;
    margin: 0 auto;
    z-index: 2;
}

.front:hover {
    transform: scale(1.03);
    transition: transform 0.3s; 
}

.raise {
    transform: translateY(-40px);
    transition: transform 0.3s ease-in;
}

.aboutme-container {
    width: 100%;
    background-color: var(--blue);
}

.aboutme {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
    color: white;
}

.aboutme img {
    width: 95%;
}

.contactme {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}

.contactme img {
    max-width: 60%;
}

.contactme .description {
    background: white;
    color: black;
}

.contactme h3 {
    font-weight: normal;
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: space-around;
}

.fa {       /*for font awesome icons*/
    font-size: 40px;
    color: var(--blue);
    margin: 30px 10px 20px 10px;
}

.fa:hover {
    opacity: 0.5;
    transition: all 0.25s;
}

.footer-container{
    width: 100%;
    background-color: black;
}

footer {
    max-width: 1200px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    padding: 0 30px;
    color: white;
    font-size: 14px;
}

#email{
    width: 10px;
    height: 10px;
    opacity: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.email-button {
    cursor: pointer;
}

@media only screen and (max-width: 1230px) {
    .home-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .home {
      display: block;
      text-align: center;
      padding-bottom: 30px;
    }
    .home h1 {
        margin: 0 auto;
        max-width: 800px;
    }
    .home img {
        margin: 30px auto;
        max-width: 600px;
    }
    .project-container {
        min-height: 1240px;
    }
    .project {
        height: auto;
        min-height: 800px;
        max-width: 600px;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .aboutme {
        display: block;
        /* text-align: center; */
        max-width: 700px;
    }
    .aboutme ul{
        list-style-position: inside;
    }
    .aboutme img {
        margin: 0px auto;
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .back {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 20px auto;
    }
    .middle {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 20px auto;
    }
    .front {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 20px auto;
    }
    .front:hover {
        transform: scale(1);
    }
    .project {
        height: auto;
        min-height: auto;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .buttons {
        position: static;
        margin-top: 50px;
    }
    #github-portfolio {
        position: static;
        display: block;
    }
    .gif {
        line-height: 0;
    }
    .burger {
        display: block;
    }
    .line {
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 6px;
    }
    .nav-links {
        position: fixed;
        top: var(--header-height);
        left: 0;
        height: calc(100vh - var(--header-height));
        width: 100%;
        background-color: var(--blue);
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        clip-path: circle(0px at 95% -5%);
        -webkit-clip-path: circle(0px at 95% -5%);
        transition: all 1s ease-out;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% 10%);
        -webkit-clip-path: circle(1000px at 90% 10%);
    }
    .nav-links li {
        margin: auto;
        width: 50%;
        /* height: 10%; */
        color: white;
        /* border-color: var(--blue) */
    }
    .nav-links li:hover {
        background-color: var(--blue);
        color: white;
        border: white solid 1px;
        opacity: 0.5;
    }
    .contactme {
        display: block;
    }
}